[submodule "proto/grr"]
	path = crates/rrg-proto/vendor/grr
	url = https://github.com/google/grr
[submodule "proto/vendor/protobuf"]
	path = crates/rrg-proto/vendor/protobuf
	url = https://github.com/protocolbuffers/protobuf
