language: rust
cache: cargo

os:
  - linux
  - osx
  - windows

dist: xenial

rust:
  - stable
  - nightly

addons:
 apt:
   update: true
   packages:
     - attr
     - e2fsprogs
     - libfuse-dev

script:
  - cargo build --verbose
  - cargo test --verbose --package rrg-macro --package rrg-proto --package rrg --features 'test-chattr test-setfattr'
  - cargo run -- --version
