name: 'Integrate'
on:
  - push
  - pull_request
jobs:
  ci:
    name: 'CI'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        toolchain:
          - stable
          - nightly
    steps:
      - name: 'Install Linux dependencies'
        if: ${{ runner.os == 'Linux' }}
        run: sudo apt install attr e2fsprogs libfuse-dev
      - name: 'Checkout the repository'
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: 'Install the Rust toolchain'
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: 'Run tests'
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: >
            --package rrg-macro
            --package rrg-proto
            --package rrg
            --features 'test-chattr test-setfattr'
