name: 'Integrate'
on:
  - push
  - pull_request
jobs:
  ci:
    name: 'CI'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - windows-latest
        toolchain:
          - stable
          - nightly
    steps:
      - name: 'Install Linux dependencies'
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt update
          sudo apt install attr e2fsprogs libfuse-dev libguestfs-tools
          # The following is needed for `guestmount` (from `libguestfs-tools`)
          # to work on Ubuntu [1, 2].
          #
          # [1]: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/759725
          # [2]: https://askubuntu.com/questions/1046828/how-to-run-libguestfs-tools-tools-such-as-virt-make-fs-without-sudo
          sudo chmod +r /boot/vmlinuz*
      - name: 'Install macOS dependencies'
        if: ${{ runner.os == 'macOS' }}
        run: brew install autoconf automake libtool
      - name: 'Checkout the repository'
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: 'Setup the Rust toolchain'
        run: |
          rustup update ${{ matrix.toolchain }}
          rustup override set ${{ matrix.toolchain }}
          rustup --version
          rustc --version
          cargo --version
      - name: 'Build RRG executable'
        run: cargo build --features 'action-get_file_contents_kmx action-get_file_metadata_kmx action-get_filesystem_timeline_tsk'
      # TODO: Add a step that runs tests with all action features disabled.
      - name: 'Run RRG tests'
        run: cargo test --features 'test-chattr test-setfattr test-fuse test-wtmp test-libguestfs action-get_file_contents_kmx action-get_file_metadata_kmx action-get_filesystem_timeline_tsk'
